{% set categories = data.category %}
{% set item = data.item %}
{% set user = data.user %}
{% set files = data.files %}
{% set status = data.status %}

<div class='mall-page'>	
	{% if item %}
		{% set title = 'Edit your item post' %}
	{% else %}
		{% set title = 'Sell your item now' %}
	{% endif %}
	<div class='title'>{{ title }}</div>
	{% include 'modules/mall/templates/error.html.twig' %}
	<section class="content mall-item-add">
		<div class='upload'>
			<form class="addForm-file-upload"
				  enctype="multipart/form-data"
				  action="/mall/api?call=fileUpload"
				  method="POST">
				<fieldset>
					<!--temp commented due to css conflict <legend></legend>-->
					<div class="row">
						<span class="value">
							<span class="element">
								<input type="hidden" name="call" value="fileUpload">
								<input type="hidden" name="tid" value="{{ data.tid }}">
								<input type="hidden" name="type" value="node">
								<input type="hidden" name="image_style" value="medium">
								<input type='file' name='files[]' multiple onchange="jQuery(this).parent().submit();">
							</span>
						</span>
					</div>
				</fieldset>
			</form>
			<div class='display-uploaded-files clearfix'>
				{% for k,v in files %}
					<div class='photo' fid='{{ k }}'>
						<div class="delete"><span>X</span></div>
						<img src='{{ v.url_medium }}'/>
					</div>
				{% endfor %}
			</div>
		</div>
		
		<form method='post' action='/mall/item/edit/submit'>
			<input type='hidden' name='item_id' value='{{ input.item_id }}'>
			<input type='hidden' name='fids' value=''>
			<div class='description'>What are you selling?</div>
			<input type='text' name='title' placeholder='Ad Title' value='{{ item.title.value }}' required>			
			<div class='description'>What is the name of the item?</div>
			<input type='text' name='name' placeholder='Ad Name' value='{{ item.name.value }}' required>		
			<div class='description'>In what category does your item fall?</div>
			<div class='categories clearfix'>			
			{% for category in categories %}	
			<select class='category' name='' depth='0' {{ loop.index == 1 ? 'required' }}>
				<option value=''>Category</option>				
				{% for c in category.entity %}
					<option value='{{ c.id.value }}' {{ category.selected == c.id.value ? 'selected' }}>{{ c.name.value }}</option>
				{% endfor %}
			</select>
			{% endfor %}
			</div>
			<div class='description'>Brand</div>
			<input type='text' name='brand' value='{{ item.brand.value }}' required>
			<div class='note'>Ex) Samsung</div>
			<div class='description'>Model</div>
			<input type='text' name='model' value='{{ item.model.value }}' required>
			<div class='note'>Ex) Galaxy S5</div>
			<div class='description'>Model Year</div>
			<input type='text' name='model_year' value='{{ item.model_year.value }}' required>			
			<div class='description'>Price</div>
			<input type='text' name='price' value='{{ item.price.value }}' required>
			<div class='note'>Item price must be within a realistic value range</div>
			<div class='description'>Phone Number</div>
			{% if item.mobile.value %}
				{% set mobile = item.mobile.value %}
			{% else %}								
				{% set mobile = user.field_mobile.value %}				
			{% endif %}
			<input type='text' name='mobile' value='{{ mobile }}' required>
			<div class='note'>Indicate the number where your buyer will contact you. Format: 09xxxxxxxxx (e.g. 09158787666)</div>
			<div class='description'>What is the condition of your item?</div>
			<select name='status' required>
				<option value=''>Ad Status</option>
				{% for k,v in status %}
					<option value='{{ k }}' {{ item.status.value == k ? 'selected' }}>{{ v }}</option>
				{% endfor %}				
			</select>
			<div class='description'>Description</div>
			<textarea name='content' required>{{ item.content.value }}</textarea>
			<input type='submit'>
		</form>
	</section>
</div>