{% set member = data.member %}
{% set user = data.user %}

{% set month = { '1':'January','2':'February','3':'March','4':'April','5':'May','6':'June','7':'July','8':'August','9':'September','10':'October','11':'November','12':'December' } %}

<div class='mall-page'>
	<section class="content user-account">		
		{% if data.error %}			
			<div class='mall-error'>{{ data.error[1] }}</div>	
		{% else %}
            <div class='title'>Member Register</div>
            <div class='description'>Please fill the input boxes</div>
            <form class='account' type='POST' action="/mall/member/register/submit">
                <fieldset>
                    <div class='group one'>
                        <table cellpadding=0 cellspacing=0 width='100%'>

                            {% if logged_in %}
							{% if( user.field_gender.value == 'M' ) %}
								{% set M = 'selected' %}
							{% elseif( user.field_gender.value == 'F' ) %}
								{% set F = 'selected' %}
							{% endif %}
                                <tr valign='top' class='row username logged_in'>
                                    <td width='153'class='caption'>
                                        <span>Username</span>
                                    </td>
                                    <td width='90%' class='value'>
                                        <span>{{ user.name.value }}</span>
                                    </td>
                                </tr>
                            {% else %}
                            <tr valign='top' class='row username'>
                                <td width='153'class='caption'>
                                    <span>Username</span>
                                </td>
                                <td width='90%' class='value'>
                                    <span><input type="text" name="username" required placeholder="Username" value=""></span>
                                </td>
                            </tr>

                            <tr valign='top' class='row password'>
                                <td class='caption'>
                                    <span>Password</span>
                                </td>
                                <td class='value'>
                                    <span><input type="password" name="password" required placeholder="Username" value=""></span>
                                </td>
                            </tr>
                            {% endif %}


                            <tr valign='top' class='row'>
                                <td class='caption'>
                                    <span>First Name</span>
                                </td>
                                <td class='value'>
                                    <span><input type="text" name="first_name" required placeholder="First name" value="{{ member.first_name }}"></span>
                                </td>
                            </tr>

                            <tr valign='top' class='row'>
                                <td class='caption'>
                                    <span>Last Name</span>
                                </td>
                                <td class='value'>
                                    <span><input type="text" name="last_name" required placeholder="Last name"  value="{{ user.field_last_name.value }}"></span>
                                </td>
                            </tr>
                            <tr valign='top' class='row'>
                                <td class='caption'>
                                    <span>Middle Name</span>
                                </td>
                                <td class='value'>
                                    <span class='element'>
										<input type="text" name="middle_name" placeholder="Middle name"  value="{{ user.field_middle_name.value }}">
									</span>
                                </td>
                            </tr>
                        </table>
                    </div><!--/group one-->
                    <div class='group two'>
                        <table cellpadding=0 cellspacing=0 width='100%'>

                            <tr valign='top' class='row'>
                                <td class='caption' width='153'>
                                    <span>Email</span>
                                </td>

                                <td width='90%' class='value'>
									<span class='element'>
										<input type="email" name="mail" required placeholder="Email" value="{{ user.mail.value }}">
									</span>
                                </td>

                            </tr>
                            <tr valign='top' class='row'>
                                <td class='caption' width='153'>
                                    <span>Mobile Number</span>
                                </td>
                                <td class='value'>
									<span class='element'>
										<input type="text" name="mobile" required placeholder="mobile" value="{{ user.field_mobile.value }}">
									</span>
                                </td>
                            </tr>
                        </table>
                    </div><!--/group two-->

                    <div class='group three'>
                        <table cellpadding=0 cellspacing=0 width='100%'>
                            <tr valign='top' class='row'>
                                <td class='caption' width='153'>
                                    <span>Birth day</span>
                                </td>
                                <td width='90%' class='value'>
									<span class='clearfix'>
										<select name="birth_month" required>
											<option value="">Month</option>
											{% for m in 1..12 %}
												<option value='{{ m }}'>{{ month[m] }}</option>
											{% endfor %}
										</select>
										<select name="birth_day" required>
											<option value="">Day</option>
											{% for m in 1..31 %}
												<option value='{{ m }}'>{{ m }}</option>
											{% endfor %}
										</select>
										<select name="birth_year" required>
											<option value="">Year</option>
											{% for m in 1940..2015 %}
												<option value='{{ m }}'>{{ m }}</option>
											{% endfor %}
										</select>
									</span>
                                </td>
                            </tr>
                            <tr valign='top' class='row'>
                                <td class='caption'>
                                    <span>Gender</span>
                                </td>
                                <td class='value'>									
									<span>
										<select name='gender'>
											<option>Gender</option>
											<option value="M" required {{ M }}>Male</option>
											<option value="F" required {{ F }}>Female</option>
										</select>
									</span>
                                </td>
                            </tr>
                            <tr valign='top' class='row'>
                                <td class='caption'>
                                    <span>Location</span>
                                </td>
                                <td class='value'>
									<span class='element'>
										<input type="text" name="location" required placeholder="Location" value="{{ user.field_location.value }}">
									</span>
                                </td>
                            </tr>
                        </table>
                    </div><!--/group three-->

                    <div class="buttons">
                        <input class="form-button" type="submit" value="Submit">
                        <span class="cancel form-button"><a href='/'>CANCEL</a></span>
                    </div>

                </fieldset>
            </form>





		{% endif %}
	</section>
</div>