{% set group = data.group %}
<div class='mall-admin-page'>	
	<div class='title'>Sub categories of {{ group.name.value }}</div>
	<div class='top-menu'>
		<a href='/mall/admin'>Admin Page</a>
		<a href='/mall/admin/category'>Group Category List</a>
	</div>
	<div class='content-wrapper category-list'>		
		<div class='root-form-wrapper'>			
			 <form class='form-add' action='/mall/admin/category/group/add'>
				<fieldset>
					<!--temp commented due to css conflict <legend></legend>-->
					<div class="row">
						<div class="value">
							<div class="element">							
								<input type='hidden' name='parent_id' value='{{ group.id.value }}'>
								<input type="text" name="name">
								<input type="submit" value="Add">
							</div>
						</div>
					</div>
				</fieldset>
			</form>	
		</div>

        {% include 'modules/mall/templates/error.html.twig' %}

		{% for c in data.children %}
			{% set indent = 20 * c.depth %}
			
			<div class='category' category-id = {{ c.entity.id.value }} depth='{{ c.depth }}' style='margin-left:{{ indent }}px;'>
				<span class='label'><span class='category-name'>{{ c.entity.name.value }}</span></span>				
				<div class='button-wrapper'>
					<span class='command add' id='{{ c.entity.id.value }}'>Add</span>
					<span class='command edit' id='{{ c.entity.id.value }}'>Edit</span>
					<form class='form-delete' action='/mall/admin/category/group/del'>
						<fieldset>
							<!--temp commented due to css conflict <legend></legend>-->
							<div class="row">
								<div class="value">
									<div class="element">									
										<input type='hidden' name='id' value='{{ c.entity.id.value }}'>
										<input type="submit" value="Delete">
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		{% endfor %}
	</div>
</div>