{% set page_note = "<div class=title>Search for " ~ data.search_note ~ "</div><div class='search-total'>Found a total of [ " ~ data.total_items ~ " ] item/s</div>" %}

<form class='mall-advance-search'>
	{% if input.keyword %}
		<input type='hidden' name='keyword' value='{{ input.keyword }}'>
	{% endif %}
	{% if input.page %}
		<input type='hidden' name='page' value='{{ input.page }}'>	
	{% endif %}
	{% if input.category %}
		<input type='hidden' name='category' value='{{ input.category }}'>	
	{% endif %}
	{% if input.category_root %}
		<input type='hidden' name='category_root' value='{{ input.category_root }}'>	
	{% endif %}
	<div class='search-sort-commands clearfix'>
		<div class='left'>
			<div class='label'>Arrange by: </div>
			<div class='mall-select-wrapper'>
				{% if order %}
					{% set order = order%}
				{% else %}
					{% set order = 'created_low'%}
				{% endif %}
				<select name='order' {{ order }}>
					<option value=''>Sort Order</option>
					<option value=''></option>
					{% for value, text in data.default_search_sort %}
						<option value='{{ value }}' {{ order == value ? 'selected'}}>{{ text }}</option>
					{% endfor %}
				</select>
				<img src='/modules/mall/img/select_arrow.png'/>
			</div>
		</div>
		<div class='right'>
			<div class='label'>Items per page: </div>
			<div class='mall-select-wrapper'>
				<select name='limit'>
					<option value=''>Show</option>
					<option value=''></option>
					{% for num in data.default_item_per_page %}
						{% if input.limit %}
							{% set limit = input.limit %}
						{% else %}
							{% set limit = 15 %}
						{% endif %}
						<option value='{{ num }}' {{ limit == num ? 'selected'}}>{{ num }}</option>
					{% endfor %}
				</select>
				<img src='/modules/mall/img/select_arrow.png'/>
			</div>
		</div>
	</div>
</form>
{% include 'themes/x8/templates/mall/mall.item.list.html.twig' %}
{% set total_items = data.total_items %}
{% set items_per_page = input.limit %}

{% include 'themes/x8/templates/mall/mall.item.pagination.html.twig' %}