{% set members = data.members %}
<div class='mall-admin-page'>
	<div class='title'>Mall Member List</div>
	{% include 'modules/mall/templates/error.html.twig' %}
	{% include 'modules/mall/templates/mall.admin.commands.html.twig' %}
	<div class='content-wrapper'>
	<form class='mall-search'>
		<input type='text' name='keyword' value='{{ data.keyword }}'>
		<input type='submit'>
	</form>
	{% if data.keyword %}
		<div class='mall-search-keyword'>Searching for [ <b>{{ data.keyword }}</b> ]</div>		
	{% endif %}
		<div class='mall-search-total'>Total of [ <b>{{ data.total }}</b> ] item/s</div>
		<table class='mall-table member' cellpadding=0 cellspacing=0 width='100%'>
			<tr class='header'>
				<td><span>User Name</span></td>
				<td><span>Name</span></td>
				<td><span>Email</span></td>
				<td><span>Mobile</span></td>
				<td><span>Birth date</span></td>
				<td width='150'><span>Location</span></td>	
				<td><span>Commands</span></td>				
			</tr>			

			{% for m in members %}				
				{% set full_name = m.field_first_name.value ~ ' ' ~ m.field_last_name.value %}
				{% if m.field_birth_month and m.field_birth_day and m.field_birth_year %}
					{% set birth_date = m.field_birth_month.value ~ '/' ~ m.field_birth_day.value ~ '/' ~ m.field_birth_year.value %}
				{% else %}
					{% set birth_date = 'NA' %}
				{% endif %}
				
				{% if( m.user_id.entity.id ) %}
					{% set uid = m.user_id.entity.id %}
					{% set name = m.user_id.entity.name.value %}
				{% elseif( m.uid.entity.id ) %}
					{% set uid = m.uid.entity.id %}
					{% set name = m.uid.entity.name.value %}
				{% else %}
					{% set uid = '' %}
					{% set name = '' %}
				{% endif %}
							
				<tr>
					<td><span>{{ name }}</span></td>
					<td><span>{{ full_name }}</span></td>
					<td><span>{{ m.mail.value }}</span></td>
					<td><span>{{ m.field_mobile.value }}</span></td>
					<td><span>{{ birth_date }}</span></td>
					<td><span>{{ m.field_location.value }}</span></td>
					<td>
						{% if( m.uid.entity.roles.target_id == 'administrator' )%}
						{% else %}
						<div class="button-wrapper">
							<a class="command" href="/mall/member/register/?user_id={{ uid }}" target="_blank">Edit</a>
							<a class="command" href="/mall/admin/member/delete?user_id={{ uid }}" onclick="return member_delete( '{{ name }}' );">Delete</a>
						</div>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		
		</table>
	</div>
</div>