<form class='mall-advance-search clearfix'>	
	{% include 'modules/mall/templates/mall.hidden.search.inputs.html.twig' %}
	<div class='search-sort-commands right clearfix'>
		<div class='left'>
			<div class='label'>Arrange by: </div>
			<div class='mall-select-wrapper'>				
				{% if input.order %}
					{% set order = input.order_by %}					
				{% else %}
					{% set order = 'created_low'%}
				{% endif %}
				
				<select name='order_by' {{ order }}>
					<option value=''>Sort Order</option>
					<option value=''></option>					
					{% for value, text in data.default_search_sort %}
						<option value='{{ value }}' {{ order == value ? 'selected'}}>{{ text }}</option>
					{% endfor %}
				</select>
				<img src='/modules/mall/img/select_arrow.png'/>
			</div>
		</div>
		<div class='right'>
			<div class='label'>Items per page: </div>
			<div class='mall-select-wrapper'>
				<select name='limit'>
					<option value=''>Show</option>
					<option value=''></option>
					{% for num in data.default_item_per_page %}
						{% if input.limit %}
							{% set limit = input.limit %}
						{% else %}
							{% set limit = 15 %}
						{% endif %}
						<option value='{{ num }}' {{ limit == num ? 'selected'}}>{{ num }}</option>
					{% endfor %}
				</select>
				<img src='/modules/mall/img/select_arrow.png'/>
			</div>
		</div>
	</div>
</form>