{% set item = data.item.entity %}
{% set images = data.item.images %}
{% set price = data.item.rendered_price.price %}
{% set price_type = i.rendered_price.type %}
{% set status = data.status %}

<div class='mall-view clearfix'>
	{% if myUid == item.user_id.target_id %}
		<div class='user-commands'>
			<a href="/mall/item/add?item_id={{ item.id.value }}">{{ ko ? '수정' : 'EDIT' }}</a>
			<a href="/mall/item/delete?item_id={{ item.id.value }}" onclick="return item_delete( '{{ item.name.value }}' );">{{ ko ? '삭제' : 'DELETE' }}</a>
		</div>
	{% endif %}
	<div class='title top'>{{ item.title.value }}</div>
		<div class='details-wrapper clearfix'>
			<div class='details product'>
				<div class='title'>{{ ko ? '상품 정보' : 'Product Details' }}</div>
				<div class='table-wrapper'>
					<table cellpadding=0 cellspacing=0 width='100%'>
					{#
						<tr class='no_of_view'>
							<td><span class='table-label'>{{ ko ? 'Views' : 'Views' }}</span></td><td width='70%'><span class='value'>{{ item.no_of_view.value }}</span></td>
						</tr>
					#}
						<tr class='price'>
							<td><span class='table-label'>{{ ko ? '금액' : 'Price' }}</span></td><td width='70%'><span class='value {{ price_type }}'>{{ price }}</span></td>
						</tr>
						{% if item.brand.value %}
						<tr>
							<td><span class='table-label'>{{ ko ? '회사명' : 'Brand' }}</span></td><td width='70%'>{{ item.brand.value }}</td>
						</tr>
						{% endif %}
						{% if item.model.value %}
						<tr>
							<td><span class='table-label'>{{ ko ? '모델' : 'Model' }}</span></td><td width='70%'>{{ item.model.value }}</td>
						</tr>
						{% endif %}
						{% if item.model_year.value %}
						<tr>
							<td><span class='table-label'>{{ ko ? '제조년도' : 'Year Model' }}</span></td><td width='70%'>{{ item.model_year.value }}</td>
						</tr>
						{% endif %}
						<tr>
							<td><span class='table-label'>{{ ko ? '등록일' : 'Posted on' }}</span></td><td width='70%'>{{ item.created.value|date("M. d Y") }}</td>
						</tr>
						<tr>
							<td><span class='table-label'>{{ ko ? '판매장소' : 'Meetups' }}</span></td><td width='70%'>{{ item.location.value }}</td>
						</tr>
						<tr class='no_of_view'>
							<td><span class='table-label'>{{ ko ? 'Views' : 'Views' }}</span></td><td width='70%'><span class='value'>{{ item.no_of_view.value }}</span></td>
						</tr>
						<tr class='contact'>
							<td><span class='table-label'>{{ ko ? '연락처' : 'Contact' }}</span></td><td width='70%'><span class='value'>{{ item.mobile.value }}</span></td>
						</tr>						
					</table>
				</div>
			</div>
			<div class='details seller'>
				<div class='title'>{{ ko ? '판매자 정보' : 'Seller Details' }}</div>
				<div class='table-wrapper'>					
					<table cellpadding=0 cellspacing=0 width='100%'>
						<tr valign='top'>
							<td><span class='table-label'>{{ ko ? '아이디' : 'Username' }}</span></td>							
							<td width='70%'><span class="author member-profile" uid="{{ item.user_id.target_id }}" target_id="{{ item.id.value }}">{{ item.user_id.entity.name.value }}</span></td>
						</tr>
						<tr valign='top'>
							<td><span class='table-label'>{{ ko ? '이름' : 'Name' }}</span></td><td width='70%'>{{  data.seller.extra.full_name }}</td>
						</tr>
						<tr valign='top'>
							<td><span class='table-label'>{{ ko ? '주소' : 'Address' }}</span></td><td width='70%'>{{ item.province.value }}, {{ data.cities[ item.province.value ][ item.city.value ] }}</td>
						</tr>	
						{% if logged_in %}
							<tr>
								<td colspan='2'>
									<span class='go-to-view-send-message'><img src="/modules/library/img/member-profile/message.png"> Send a message to the user</span>
								</td>
							</tr>	
						{% endif %}						
					</table>
				</div>
			</div>
		</div>
		<div class='image-list'>			
				{% set count1 = 1 %}				
				<div class='top-image'>
					{% if images.item_image %}
					{% for item_image in images.item_image %}					
							{% if count1 == 1 %}
								{% set active = " class=is-active"%}
							{% else %}
								{% set active = ""%}
							{% endif %}
							<img{{ active }} fid='{{ item_image.fid }}' src='{{ item_image.item_view }}'/>
						{% set count1 = count1 + 1 %}
					{% endfor %}
					{% elseif images.item_image_thumbnail[0]%}						
						<img class='is-active' fid='{{ images.item_image_thumbnail[0].fid }}' src='{{ images.item_image_thumbnail[0].item_view }}'/>
					{% else %}
						<img class='is-active' src='/modules/mall/img/mall-no-image.png'/>
					{% endif %}
				</div>
				<div class='thumbnails'>
					<img class='arrow left' src='/modules/mall/img/arrow_left.png'/>
					<img class='arrow right' src='/modules/mall/img/arrow_right.png'/>
					<div class='inner'>
						{% if images.item_image %}
							{% set count2 = 1 %}{% for item_image in images.item_image %}{% if count2 == 1 %}{% set active = " class=is-active"%}{% else %}{% set active = ""%}{% endif %}<img{{ active }} fid='{{ item_image.fid }}' src='{{ item_image.url_medium }}'/>{% set count2 = count2 + 1 %}{% endfor %}
						{% elseif images.item_image_thumbnail[0] %}
							<img class='is-active' fid='{{ images.item_image_thumbnail[0].fid }}' src='{{ images.item_image_thumbnail[0].url_medium }}'/>
						{% else %}
							<img class='is-active' src='/modules/mall/img/mall-no-image.png'/>
						{% endif %}
					</div>
				</div>						
		</div>
		<div class='content-text'>
			{{ item.content.value | nl2br  }}
			<div class='photos'>
				{% for item_image_description in images.item_image_description %}	
					<div class='photo'>
						<img fid='{{ item_image_description.fid }}' src='{{ item_image_description.url_original }}'/>
					</div>
				{% endfor %}
			</div>
		</div>		
</div>
{% include 'modules/mall/templates/mall.item.user.message.html.twig' %}