{#
This should work as long as "items" variable structure is like:
$items[0]['entity'] -> the entity item_mall
$items[0]['images']['item_image_thumbnail'] -> images
$items[0]['images']['item_image'] -> images
$items[0]['images']['item_image_description'] -> images
#}
{% import _self as func %}
{% if items is empty%}
    {% set items = data.items.items %}
{% endif %}

{% set starting_url = '' %}
{% for k,v in input %}
    {% set starting_url = starting_url ~ '&' ~ k ~ '=' ~ v %}
{% endfor %}

{% set grid_division = ['a','b','c','d']%}

<section class='grid4 mall-item-list'>
    {% for bs in items | batch(4,'') %}
		<div class='content row'>
        {% for i in bs %}
                {{ func.display_grid( grid_division[ ( loop.index - 1 )] , i, starting_url) }}
        {% endfor %}
		</div>
    {% endfor %}
</section>
{% macro display_grid(k, i, url ) %}
    {% if i %}
        {% set item = i.entity %}
        {% set images = i.images %}
        {% set price = i.rendered_price.price %}
        {% set price_type = i.rendered_price.type %}
        <div class='item {{ k }}'>
            <a href='/mall/item/view?{{ url }}&item_id={{ item.id.value }}'>
                <div>
                <div class='photo'>
                    {% if images.item_image_thumbnail[0] %}
    {% set url_thumb = images.item_image_thumbnail[0].url_large %}
{% else %}
    {% set url_thumb = '/themes/x8/templates/mall/img/mall-no-image.png' %}
{% endif %}
                    <img src='{{ url_thumb }}'/>
                </div>
                <div class='info'>
                    <div class='title'>{{ item.title.value }}</div>
                    <div class='price {{ price_type }}'>{{ price }}</div>
                </div>
            </a>
            </div>
        </div>
    {% endif %}
{% endmacro %}