{% set members = data.members %}
<div class='mall-admin-page'>
	<div class='title'>Mall Member List</div>
	{% include 'modules/mall/templates/error.html.twig' %}
	{% include 'modules/mall/templates/mall.admin.commands.html.twig' %}
	<div class='content-wrapper'>
	<form class='mall-search'>
		<input type='text' name='keyword' value='{{ data.keyword }}'>
		<input type='submit'>
	</form>
	{% if data.keyword %}
		<div class='mall-search-keyword'>Searching for [ <b>{{ data.keyword }}</b> ]</div>		
	{% endif %}
		<div class='mall-search-total'>Total of [ <b>{{ data.total }}</b> ] item/s</div>
		<table class='mall-table member' cellpadding=0 cellspacing=0 width='100%'>
			<tr class='header'>
				<td><span>User Name</span></td>
				<td><span>Name</span></td>
				<td><span>Email</span></td>
				<td><span>Mobile</span></td>
				<td><span>Birth date</span></td>
				<td width='150'><span>Location</span></td>	
				<td><span>Commands</span></td>				
			</tr>			

			{% for member in members %}
				{% set m = member.member %}				
				{% set name = m.first_name ~ ' ' ~ m.last_name %}
				{% if m.birth_month and m.birth_day and m.birth_year %}
					{% set birth_date = m.birth_month ~ '/' ~ m.birth_day ~ '/' ~ m.birth_year%}
				{% else %}
					{% set birth_date = NA %}
				{% endif %}
							
				<tr>
					<td><span>{{ member.user.name.value }}</span></td>
					<td><span>{{ name }}</span></td>
					<td><span>{{ m.mail }}</span></td>
					<td><span>{{ m.mobile }}</span></td>
					<td><span>{{ birth_date }}</span></td>
					<td><span>{{ m.location }}</span></td>
					<td>
						{% if( member.user.roles.target_id == 'administrator' )%}
						{% else %}
						<div class="button-wrapper">
							<a class="command" href="/mall/member/register/?uid={{ member.user.id }}" target="_blank">Edit</a>
							<a class="command" href="/mall/admin/member/delete?uid={{ member.user.id }}" onclick="return member_delete( '{{ member.user.name.value }}' );">Delete</a>
						</div>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		
		</table>
	</div>
</div>