{% import dir_macro ~ '/functions.html.twig' as f %}
{% set categories = data.category %}
{% set item = data.item %}
{% set user = data.user %}
{% set files = data.files %}
{% set status = data.status %}

<div class='mall-page'>
	{% if item %}
		{% set title = ko ? '물품 수정' : 'Edit your item post' %}
	{% else %}
		{% set title = ko ? '판매 물품 등록' : 'Sell your item now' %}
	{% endif %}
	<div class='title'>{{ title }}</div>
	{% include 'modules/mall/templates/error.html.twig' %}
	{% include 'modules/mall/templates/mall.admin.commands.html.twig' %}
	<section class="content mall-item-add">
		<form class='item-add-form' method='post' action='/mall/item/edit/submit'>

			<input type='hidden' name='fids' value=''>

			<input type='hidden' name='item_id' value='{{ input.item_id }}'>
			<div class='description'>{{ ko ? '제목' : 'Title' }}<span class='note important'>*</span></div>
			<div class='field-wrapper'>
				<input class='important-field' type='text' name='title' placeholder='{{ ko ? '제목을 입력하세요.' : 'Item Title' }}' value='{{ item.title.value | default( data.input.title ) }}' required>
			</div>
			<div class='description'>{{ ko ? '카테고리 선택' : 'In what category does your item fall?' }}<span class='note important'>*</span></div>
			<div class='categories clearfix'>
				{% for category in categories %}
					{% if not data.category_last_selected  and data.input.category_id %}
						{% set is_last_category = true %}
					{% else %}
						{% set is_last_category = false %}
						{% if loop.index == data.category_last_selected %}
							{% set is_last_category = true %}
						{% endif %}
					{% endif %}
					<select class='category' {{ is_last_category == true  ? "name=category_id" }} depth='0' {{ loop.index == 1 ? 'required' }}>
						<option value=''>{{ ko ? '카테고리' : 'Category' }}</option>	
						{% if category.selected %}
							{% set selected_category = category.selected %}
						{% else %}
							{% set selected_category = data.input.category_id %}
						{% endif %}
						{% for c in category.entity %}
							<option value='{{ c.id.value }}' {{ selected_category == c.id.value ? 'selected' }}>{{ f.get(ko, c.name.value) }}</option>
						{% endfor %}
					</select>
				{% endfor %}
			</div>
			<div class='description'>{{ ko ? '제조 회사명' : 'Brand' }}</div>
			<input type='text' name='brand' value='{{ item.brand.value | default( data.input.brand ) }}' placeholder="{{ ko ? '제품 제조 회사명을 입력하세요' : 'Input Brand' }}">
			<div class='note'>Ex) Samsung, Company Name</div>
			<div class='description'>{{ ko ? '모델' : 'Model' }}</div>
			<input type='text' name='model' value='{{ item.model.value | default( data.input.model ) }}' placeholder="{{ ko ? '모델명을 입력하세요.' : 'Input model' }}">
			<div class='note'>Ex) Galaxy S5</div>
			<div class='description'>{{ ko ? '제조 년도' : 'Model Year' }}</div>
			<input type='number' name='model_year' value='{{ item.model_year.value | default( data.input.model_year ) }}'>
			<div class='description'>{{ ko ? '가격' : 'Price' }}<span class='note important'>*</span></div>
			<div class='price-wrapper'>				
				<select name='currency' required>
					{% for k,v in data.currency %}
						<option value='{{ k }}'{{ k == item.currency.value or k == data.input.currency ? " selected" }}>{{ v }}</option>
					{% endfor %}
				</select>
				<div class='text'><input type='number' name='price' value='{{ item.price.value | default( data.input.price ) }}' required></div>
			</div>
			<div class='description'>{{ ko ? '전화번호' : 'Phone Number' }}<span class='note important'>*</span></div>
			<div class='field-wrapper'>
				<input class='important-field' type='text' name='mobile' value='{{ item.mobile.value | default( data.input.mobile ) }}' required>
			</div>

			<div class='description'>{{ ko ? '판매자 위치' : 'Seller Location' }}<span class='note important'>*</span></div>
			<div class='location-wrapper clearfix'>
				<select class='location' name='province' required>
					<option value=''>Province</option>
					{% if item.province.value %}
						{% set selected_province = item.province.value %}
					{% else %}
						{% set selected_province = data.input.province %}						
					{% endif %}
					{% for p in data.provinces %}		
						<option value='{{ p }}'{{ p == selected_province ? " selected" }}>{{ p }}</option>
					{% endfor %}
				</select>
				{% if data.cities %}
					<select class='location' name='city' required>
						<option value=''>City</option>
						{% if item.city.value %}
							{% set selected_city = item.city.value %}
						{% else %}
							{% set selected_city = data.input.city %}						
						{% endif %}
						{% for k,v in data.cities %}
							<option value='{{ k }}'{{ k == selected_city ? " selected" }}>{{ v }}</option>
						{% endfor %}
					</select>
				{% endif %}
			</div>
			<div class='description'>{{ ko ? '배달 가능 지역' : 'Delivery Locations' }}</div>
			<input type='text' name='location' value='{{ item.location.value | default( data.input.location ) }}'>
			<div class='description'>{{ ko ? '상품 설명' : 'Description' }}</div>
			<textarea name='content'>{{ item.content.value | default( data.input.content ) }}</textarea>
			<div class='buttons'>
				<input class='item-add-submit' type='submit' value='{{ ko ? '상품 등록' : 'Post Item' }}'>
			</div>
		</form>




		
		<div class='file-upload-group item_image_thumbnail clearfix'>
			<div class='upload-label'>{{ ko ? '메인에 표시 될 작은 이미지' : 'Item Image Thumbnail' }}<span class='note important'>*</span></div>			
			<div class='note'>Any image file type less than 16MB </div>
			<div class='upload item_image_thumbnail'>
				<form class="addForm-file-upload{{ files.item_image_thumbnail[0] ? ' is-hidden' }}" action="/mall/api?call=fileUpload" method="POST">
					<img class='fake' src='/modules/mall/img/fake_upload_photo.png'/>
					<fieldset><div class="row"><span class="value"><span class="element">
							<input type="hidden" name="call" value="fileUpload">
							<input type="hidden" name="image_style" value="medium">
							<input type='file' accept="image/*" name='item_image_thumbnail' onchange="jQuery(this).parent().submit();" required>
						</span></span></div></fieldset>
				</form>
				<div class='display-uploaded-files clearfix'>
					{% if files.item_image_thumbnail[0] %}
						<div class='photo' fid='{{ files.item_image_thumbnail[0].fid }}'>
							<div class='delete'><span>X</span></div>
							<img src='{{ files.item_image_thumbnail[0].url_medium }}'>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class='file-upload-group item_image clearfix'>
			<div class='upload-label'>{{ ko ? '상품 이미지' : 'Item Images' }}</div>
			<div class='note'>Any image file type less than 16MB </div>
			{% for i in 1..10 %}
				<div class='upload' no = '{{ i }}'>
					<form class="addForm-file-upload{{ files.item_image[i] ? ' is-hidden' }}" action="/mall/api?call=fileUpload" method="POST">
						<img class='fake' src='/modules/mall/img/fake_upload_photo.png'/>
						<fieldset><div class="row"><span class="value"><span class="element">
							<input type="hidden" name="call" value="fileUpload">
							<input type="hidden" name="image_style" value="medium">
							<input type="hidden" name="no" value="{{ i }}">
							<input type='file' accept="image/*" name='item_image' onchange="jQuery(this).parent().submit();">
						</span></span></div></fieldset>
					</form>
					<div class='display-uploaded-files clearfix'>
						{% if files.item_image[i] %}
							<div class='photo' fid='{{ files.item_image[i].fid }}'>
								<div class='delete'><span>X</span></div>
								<img src='{{ files.item_image[i].url_medium }}'>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class='file-upload-group item_image_description clearfix'>
			<div class='upload-label'>{{ ko ? '상품 설명 이미지' : 'Item Image Description' }}</div>
			<div class='note'>Any image file type less than 16MB </div>
			{% for i in 1..3 %}
				<div class='upload' no = '{{ i }}'>
					<form class="addForm-file-upload{{ files.item_image_description[i] ? ' is-hidden' }}" action="/mall/api?call=fileUpload" method="POST">
						<img class='fake' src='/modules/mall/img/fake_upload_photo.png'/>
						<fieldset><div class="row"><span class="value"><span class="element">
								<input type="hidden" name="call" value="fileUpload">
								<input type="hidden" name="image_style" value="medium">
								<input type="hidden" name="no" value="{{ i }}">
								<input type='file' accept="image/*" name='item_image_description' onchange="jQuery(this).parent().submit();">
							</span></span></div></fieldset>
					</form>
					<div class='display-uploaded-files clearfix'>
						{% if files.item_image_description[i] %}
							<div class='photo' fid='{{ files.item_image_description[i].fid }}'>
								<div class='delete'><span>X</span></div>
								<img src='{{ files.item_image_description[i].url_medium }}'>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class='buttons'>
			<div class='item-add-submit'>{{ ko ? '상품 등록' : 'Post Item' }}</div>
		</div>
	</section>
</div>
