{% set member = data.member %}
{% set user = data.user %}
{% set month = x.months %}
<div class='mall-page'>
	<div class='title'>Member Register</div>
	{% if member.user_id.entity.id %}
		{% set uid = member.user_id.entity.id %}
		{% set username = member.user_id.entity.name.value %}
	{% elseif user.id %}
		{% set uid = user.id %}
		{% set username = user.name.value %}
		{% set member = user %}
		{% set error = "You are not yet a mall member. Please click on submit button to join." %}
	{% endif %}

	{% if data.error %}
		<div class='mall-error'>{{ data.error[1] }}</div>
	{% else %}


	{% if input.mode == 'edit_success' %}		
		<div class='mall-success'>You have successfully edited your mall member account.</div>		
	{% endif %}
	
	{% if input.mode == 'register_success' %}
		<div class='mall-success'>You have successfully registered as a Mall Member</div>
	{% endif %}
	
	{% if error %}
		<div class='mall-error'>{{ error }}</div>	
	{% endif %}
	<section class="content user-account">				            
            <div class='form-description'>Please fill the input boxes</div>
			{% include 'modules/mall/templates/error.html.twig' %}
            <form class='account' type='POST' action="/mall/member/register/submit">			
				<input type='hidden' name='user_id' value='{{ uid }}'>
                <fieldset>
                    <div class='group one'>
                        <table cellpadding=0 cellspacing=0 width='100%'>

                            {% if logged_in %}

							
                                <tr valign='top' class='row username logged_in'>
                                    <td width='153'class='caption'>
                                        <span>Username</span>
                                    </td>
                                    <td width='90%' class='value'>
                                        <span>{{ username }}</span>
                                    </td>
                                </tr>
                            {% else %}
                            <tr valign='top' class='row username'>
                                <td width='153'class='caption'>
                                    <span>Username</span>
                                </td>
                                <td width='90%' class='value'>
                                    <span><input type="text" name="username" required placeholder="Username" value=""></span>
                                </td>
                            </tr>

                            <tr valign='top' class='row password'>
                                <td class='caption'>
                                    <span>Password</span>
                                </td>
                                <td class='value'>
                                    <span><input type="password" name="password" required placeholder="Username" value=""></span>
                                </td>
                            </tr>
                            {% endif %}


                            <tr valign='top' class='row'>
                                <td class='caption'>
                                    <span>First Name</span>
                                </td>
                                <td class='value'>
                                    <span><input type="text" name="field_first_name" required placeholder="First name" value="{{ member.field_first_name.value }}"></span>
                                </td>
                            </tr>

                            <tr valign='top' class='row'>
                                <td class='caption'>
                                    <span>Last Name</span>
                                </td>
                                <td class='value'>
                                    <span><input type="text" name="field_last_name" required placeholder="Last name"  value="{{ member.field_last_name.value }}"></span>
                                </td>
                            </tr>
                            <tr valign='top' class='row'>
                                <td class='caption'>
                                    <span>Middle Name</span>
                                </td>
                                <td class='value'>
                                    <span class='element'>
										<input type="text" name="field_middle_name" placeholder="Middle name"  value="{{ member.field_middle_name.value }}">
									</span>
                                </td>
                            </tr>
                        </table>
                    </div><!--/group one-->
                    <div class='group two'>
                        <table cellpadding=0 cellspacing=0 width='100%'>

                            <tr valign='top' class='row'>
                                <td class='caption' width='153'>
                                    <span>Email</span>
                                </td>

                                <td width='90%' class='value'>
									<span class='element'>
										<input type="email" name="mail" required placeholder="Email" value="{{ member.mail.value }}">
									</span>
                                </td>

                            </tr>
                            <tr valign='top' class='row'>
                                <td class='caption' width='153'>
                                    <span>Mobile Number</span>
                                </td>
                                <td class='value'>
									<span class='element'>
										<input type="text" name="field_mobile" required placeholder="mobile" value="{{ member.field_mobile.value }}">
									</span>
                                </td>
                            </tr>
                        </table>
                    </div><!--/group two-->

                    <div class='group three'>
                        <table cellpadding=0 cellspacing=0 width='100%'>
                            <tr valign='top' class='row'>
                                <td class='caption' width='153'>
                                    <span>Birth day</span>
                                </td>
                                <td width='90%' class='value'>
									<span class='clearfix'>
										<select name="field_birth_month" required>
											<option value="">Month</option>											
											{% for m in 1..12 %}
												{% if m == member.field_birth_month.value %}
													{% set selected = ' selected' %}
												{% else %}
													{% set selected = ''%}
												{% endif %}
													<option value='{{ m }}'{{ selected }}>{{ month[m] }}</option>
											{% endfor %}											
										</select>
										<select name="field_birth_day" required>
											<option value="">Day</option>
											{% for d in 1..31 %}
												{% if d == member.field_birth_day.value %}
													{% set selected = ' selected' %}
												{% else %}
													{% set selected = ''%}
												{% endif %}
												<option value='{{ d }}'{{ selected }}>{{ d }}</option>
											{% endfor %}
										</select>
										<select name="field_birth_year" required>
											<option value="">Year</option>
											{% for y in 2015..1940 %}
												{% if y == member.field_birth_year.value %}
													{% set selected = ' selected' %}
												{% else %}
													{% set selected = ''%}
												{% endif %}
												<option value='{{ y }}'{{ selected }}>{{ y }}</option>
											{% endfor %}
										</select>
									</span>
                                </td>
                            </tr>
                            <tr valign='top' class='row'>
                                <td class='caption'>
                                    <span>Gender</span>
                                </td>



                                <td class='value'>
									<span>
										<select name='field_gender'>
											<option>Gender</option>
											<option value="M" required {{ member.field_gender.value == 'M' ? 'selected' }}>Male</option>
											<option value="F" required {{ member.field_gender.value == 'F' ? 'selected' }}>Female</option>
										</select>
									</span>
                                </td>
                            </tr>
                            <tr valign='top' class='row'>
                                <td class='caption'>
                                    <span>Location</span>
                                </td>
                                <td class='value'>
									<span class='element'>
										<input type="text" name="field_location" required placeholder="Location" value="{{ member.field_location.value }}">
									</span>
                                </td>
                            </tr>
                        </table>
                    </div><!--/group three-->

                    <div class="buttons">
                        <input class="form-button" type="submit" value="Submit">
                        <span class="cancel form-button"><a href='/'>CANCEL</a></span>
                    </div>

                </fieldset>
            </form>





		{% endif %}
	</section>
</div>