<div class='filter-guide'>
	{% set filter_category = 'All' %}
	{% for k,v in data.category_entity_list %}
		{% if k == input.category_id  %}
			{% set filter_category = v.entity.name.value %}
		{% endif %}
		{% if v.child and filter_category == 'All' %}
			{% for k2,v2 in v.child %}
				{% if k2 == input.category_id  %}
					{% set filter_category = v2.entity.name.value %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	{% if data.user_entity %}
		{% set starting_url = '/mall/item/search?' %}
		{% for k,v in input %}
			{% if k != 'user_id' %}
				{% set starting_url = starting_url ~ '&' ~ k~ '=' ~ v %}
			{% endif %}
		{% endfor %}
		<div class='user_id'>User : {{ data.user_entity.name.value }}<a href='{{ starting_url }}' class='remove'>x</a></div>	
	{% endif %}
	
	{% set starting_url = '/mall/item/search?' %}
	{% for k2,v2 in input %}
		{% if k2 != 'category_id' %}
			{% set starting_url = starting_url ~ '&' ~ k2~ '=' ~ v2 %}
		{% endif %}
	{% endfor %}
	<div class='category'>{{ filter_category }}<a href='{{ starting_url }}' class='remove'>x</a></div>	
	
	{% for k,v in input %}		
		{% set starting_url = '/mall/item/search?' %}
		{% for k2,v2 in input %}
			{% if k2 != k %}
				{% if k == 'price_from' and k2 == 'price_to' %}
				{% else %}
					{% set starting_url = starting_url ~ '&' ~ k2~ '=' ~ v2 %}
				{% endif %}
			{% endif %}
		{% endfor %}
		
		{% if k == 'category_id' or k == 'price_to' or k == 'user_id' or k == 'limit' or k == 'page' %}		
		{% elseif k == 'price_from' %}
			{% if input.price_from is empty %}				
				{% set price_from = "Below"%}
				{% set price_to = input.price_to %}
			{% elseif input.price_to is empty %}
				{% set price_from = input.price_from %}
				{% set price_to = "and Above"%}
			{% else %}
				{% set price_from = input.price_from ~ " to" %}
				{% set price_to = input.price_to %}
			{% endif %}
			<div class='price'>Price : {{ price_from }} {{ price_to }}<a href='{{ starting_url }}' class='remove'>x</a></div>
		{% elseif k =='time' %}
			<div class='{{ k }}'>{{ k | capitalize }} : {{ data.time[ v ] }}<a href='{{ starting_url }}' class='remove'>x</a></div>
		{% elseif k == 'status' %}
			<div class='{{ k }}'>{{ k | capitalize }} : {{ data.status[ v ] }}<a href='{{ starting_url }}' class='remove'>x</a></div>
		{% elseif k == 'order_by' %}
			<div class='{{ k }}'>{{ k | capitalize }} : {{ data.default_search_sort[ v ] }}<a href='{{ starting_url }}' class='remove'>x</a></div>
		{% else %}
			<div class='{{ k }}'>{{ k | capitalize }} : {{ v }}<a href='{{ starting_url }}' class='remove'>x</a></div>
		{% endif %}		
	{% endfor %}
</div>