{% if logged_in %}
	{% import dir_message ~ '/templates/macro/html.html.twig' as html %}
	<div class='view-message-send'>
		<div class='title'>Send a message to {{ item.user_id.entity.name.value }} ( seller )</div>
		<form class='message-send' method="post" action="/message/send">
			<fieldset>		
				{% if item.title.value %}
					{% set message_title = item.title.value %}
				{% else %}
					{% set message_title = "Invalid Item Title or Information" %}
				{% endif %}
				<input type="hidden" name="mode" value="submit">
				<input type="hidden" name="custom_sms_message" value="A reply for you posted item in www.sonub.com/mall/item/view?item_id={{item.id.value}} was sent. Please login to www.sonub.com to view the message.">
				<input type="hidden" name="receiver" value="{{ item.user_id.entity.name.value }}">
				<input type="hidden" name="title" value="{{ "Item: "~ message_title }}">
				{{ html.textarea({'name':'content', 'id':'message-content', 'class':'content', 'label':'Content', 'placeholder':'Input a message for the seller'}) }}		
				<div class='buttons clearfix'>
					<div class='send-button-wrapper'>						
						<input type="submit" value='Send Message'>
					</div>
				</div>
			</fieldset>	
		</form>
	</div>
{% else %}
	<div class='notice'>
		Please log in first to send a message
	</div>
{% endif %}